.selector-for-some-widget {
    box-sizing: content-box;
}
.dawwq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.textp{
    text-align: center;
}